body {
  background-color: lightyellow;
  font-family: Arial, Helvetica, sans-serif;
}

.section {
  margin: 2rem 0;
}

.change-language {
  display: flex;
  justify-content: flex-end;
  margin: 1rem;
}

.field {
  padding: 0.5rem;
}

label {
  margin-right: 0.5rem;
}
