{% extends "base.html" %} {% block body %}

<form action="{% url 'apply' %}" method="post">
  {% csrf_token %}
  <section class="basic-info">
    <h2>Tell us about yourself...</h2>
    <div class="field">
      <label for="first_name">First Name</label>
      <input
        id="first_name"
        type="text"
        name="first_name"
        maxlength="255"
        required
        placeholder="John"
      />
    </div>
    <div class="field">
      <label for="last_name">Last Name</label>
      <input
        id="last_name"
        type="text"
        name="last_name"
        maxlength="255"
        required
        placeholder="Doe"
      />
    </div>
    <div class="field">
      <label for="phone_number">Phone Number</label>
      <input
        id="phone_number"
        type="tel"
        name="phone_number"
        maxlength="20"
        required
        placeholder="333-333-3333"
      />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input
        id="email"
        type="email"
        name="email"
        maxlength="255"
        required
        placeholder="johndoe@gmail.com"
      />
    </div>
    <div class="field">
      <label for="address">Address</label>
      <textarea
        id="address"
        name="address"
        rows="4"
        cols="50"
        maxlength="255"
        required
        placeholder="126 W 4000 S, Lincoln, NE 68501"
      ></textarea>
    </div>
  </section>
  <section>
    <h2>Other helpful links</h2>
    <div class="field">
      <label for="profile_picture_url">Profile Picture URL</label>
      <input
        id="profile_picture_url"
        type="text"
        name="profile_picture_url"
        maxlength="200"
        placeholder="https://..."
      />
    </div>
    <div class="field">
      <label for="resume_url">Resume URL</label>
      <input
        id="resume_url"
        type="text"
        name="resume_url"
        maxlength="200"
        placeholder="https://..."
      />
    </div>
  </section>
  <section>
    <h2>Technical questions</h2>
    <div>
      <h4>What is your target salary range?</h4>
      <input
        id="salary_range"
        type="text"
        name="salary_range"
        maxlength="200"
        placeholder="$50,000 - $70,000"
      />
    </div>
    <div>
      <h4>What do you look for in a company?</h4>
      <input
        id="company_benefits"
        type="text"
        name="company_benefits"
        maxlength="200"
        placeholder="High salary, reliable hours, good people..."
      />
    </div>
    <div>
      <h4>What certifications do you have?</h4>
      <input
        id="certifications"
        type="text"
        name="certifications"
        maxlength="200"
        placeholder="Crane, forklift, excavator, management..."
      />
    </div>
    <div>
      <h4>What makes you valuable and unique?</h4>
      <input
        id="skills_and_experience"
        type="text"
        name="skills_and_experience"
        maxlength="200"
        placeholder="5 years experience, fluent in Spanish, college graduate, etc."
      />
    </div>
    <div>
      <h4>Anything you would like to add?</h4>
      <textarea
        name="any_additions"
        id="any_additions"
        cols="50"
        rows="10"
        placeholder="I'm a hard worker and I'm always on time."
      ></textarea>
    </div>
  </section>
  <section>
    <h2>That's all of it! Just submit away and we'll handle the rest.</h2>
    <button type="submit">Submit</button>
  </section>
</form>

{% endblock %}
