{% extends "base.html" %} {% block body %}

<form action="{% url 'apply' %}" method="post">
  {% csrf_token %}
  <section class="basic-info">
    <h2>Tell us about yourself...</h2>
    <div class="field">
      <label for="first_name">First Name</label>
      <input
        id="first_name"
        type="text"
        name="first_name"
        maxlength="255"
        required
      />
    </div>
    <div class="field">
      <label for="last_name">Last Name</label>
      <input
        id="last_name"
        type="text"
        name="last_name"
        maxlength="255"
        required
      />
    </div>
    <div class="field">
      <label for="phone_number">Phone Number</label>
      <input
        id="phone_number"
        type="tel"
        name="phone_number"
        maxlength="20"
        required
      />
    </div>
    <div class="field">
      <label for="email">Email</label>
      <input id="email" type="email" name="email" maxlength="255" required />
    </div>
    <div class="field">
      <label for="address">Address</label>
      <textarea
        id="address"
        name="address"
        rows="4"
        cols="50"
        maxlength="255"
        required
      ></textarea>
    </div>
  </section>
  <section>
    <h2>Other helpful links</h2>
    <div class="field">
      <label for="profile_picture_url">Profile Picture URL</label>
      <input
        id="profile_picture_url"
        type="text"
        name="profile_picture_url"
        maxlength="200"
      />
    </div>
    <div class="field">
      <label for="resume_url">Resume URL</label>
      <input id="resume_url" type="text" name="resume_url" maxlength="200" />
    </div>
  </section>
  <section>
    <h2>Technical questions</h2>
    <h2>What is your target salary range?</h2>
    <input id="target_salary" type="text" name="target_salary" maxlength="200" />
  </section>
  </div>
  <div class="section top-benefits-info">
    <h2>What do you look for in a company?</h2>
    <p>(Select your top 3)</p>
    <button>High Salary</button>
    <button>Reliable Hours</button>
    <button>Good People</button>
    <button>Vacation Time</button>
    <button>Integrity</button>
    <button>Insurance Benefits</button>
    <button>Consistent Pay</button>
    <button>Good Location</button>
  </div>
  <div class="section resume-info">
    <h2>Send us your resume...</h2>
    <button>Resume Upload</button>
  </div>
  <div class="section certifications-info">
    <h2>What cerifications do you have?</h2>
    <button>Crane</button>
    <button>Massive Thing</button>
    <button>Forklift</button>
    <button>Steamroller</button>
    <button>Big Tractor Thing</button>
    <button>Excavator</button>
  </div>
  <div class="section top-traits-info">
    <h2>What makes you valuable and unique?</h2>
    <button>5+ Years Experience</button>
    <button>Self-Help Book Reader</button>
    <button>10+ Years Experience</button>
    <button>DIY'er</button>
    <button>Multilingual</button>
    <button>Religious Volunteer</button>
    <button>Punctual</button>
    <button>2+ Years Experience</button>
  </div>
  <div class="section additional-info">
    <h2>Anything you would like to add?</h2>
    <textarea name="" id="" cols="30" rows="10"></textarea>
  </div> -->
  <div class="section wrap-up">
    <h2>That's everything! Hit 'Submit' below and we'll handle the rest.</h2>
    <button type="submit">Submit</button>
  </div>
</form>

{% endblock %}
